# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environments
venv/
env/
.env
.venv

# Jupyter Notebook
.ipynb_checkpoints

# IDEs / OS files
.vscode/
.idea/
.DS_Store
